<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/moment-with-locales.js"></script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <hr>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gudang Emas</h5>
                        <p class="card-text">Available <%= data[0].capacity   %></p>
                        <a href="" class="btn btn-danger">Order !!!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gudang Dokumen</h5>
                        <p class="card-text">Available <%= data[1].capacity  %> </p>
                        <a href="" class="btn btn-warning">Order !!!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Gudang Makanan</h5>
                        <p class="card-text">Available <%= data[2].capacity  %> </p>
                        <a href="" class="btn btn-success">Order !!!</a>
                    </div>
                </div>
            </div>
        </div>                
    </div>
   
    <script src="../../bootstrap/js/jquery-3.3.1.min.js"></script>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>

</body>
</html>

 <!-- p4k3passw0rd -->
 <!-- pairproject55@gmail.com -->